body {
    background-color: grey;
}

.rowC{
    display:flex;
    justify-content: space-around;
    background-color:grey;
    color:white;
    font-size:20px;
}

h1 {
    display:flex;
    justify-content:center;
}

p {
    font-size:20px;
}
h2 {
    font-size: 40px;
}
ul {
    font-size:20px;
}